AppDir/
IF-DDA/
IFDDA-45fc379-x86_64.AppImage
linuxdeploy-plugin-appimage-x86_64.AppImage
linuxdeploy-plugin-appimage-x86_64.AppImage.1
linuxdeploy-x86_64.AppImage
linuxdeploy-x86_64.AppImage.1


IFDDA-1b8961e-x86_64.AppImage
